domain-needed
bogus-priv
resolv-file=/etc/dnsmasq.resolv.conf
expand-hosts
domain={{ cluster }}.{{ domain }}
local=/{{ cluster }}.{{ domain }}/
address=/apps.{{ cluster }}.{{ domain }}/{{ bastion_node01_ens192_ip4 }}
